.btn {
  display: inline-block;
  margin-top: 16px;
  padding: 16px 20px;
  gap: 10px;
  text-transform: uppercase;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  background-color: #00a3ff;
  border-radius: 10px;
}
.btn:hover {
  background-color: #005686;
  color: #FFFFFF;
}
.btn-ghost {
  width: auto;
  background-color: transparent;
  padding: 14px 18px;
  border: 2px solid #00a3ff;
  color: #00a3ff;
  border-radius: 10px;
}
.btn-ghost:hover {
  background-color: #00a3ff;
  color: #ffffff;
}
.btn-round {
  height: 46px;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  padding: 6px 28px;
  gap: 10px;
  border: 2px solid #00a3ff;
  border-radius: 47px;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 188%;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.02em;
}
.btn-round:hover {
  color: #ffffff;
  background-color: #00a3ff;
}
